
h1{
    font-weight: bold;
}

#container{


 background-color: #eee;
    height: 100vh;
    width: 100vw;

}
#header{
    display: block;
    text-align: center;
    padding: 15px;
}
#img-div{
    height: 600px;
    width: 788px;
    border: 2px black solid ;
    background: url(/img-folder/tribute-page-main-image\ \(1\).jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
ul{
    display: block;
    list-style: disc;
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;

}

ul{
display: block;
list-style: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;

}

li{
display: list-item;
text-align: -webkit-match-parent;
}
